#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


.upload_todo {
  background-color: beige;
  color: black;
}
.Del {
  background-color: rgb(239, 171, 147);
  color: black;

}
.fix_end {
  background-color: rgb(160, 244, 216);
  color: black;

}
.fixing {
  background-color: rgb(160, 244, 216);
  color: black;

}